@using RezaB.Web.Helpers

@model RadiusR_Customer_Website.Models.LoginViewModel

@{
    ViewBag.Title = @RadiusR.Localization.Pages.Common.Login;
    Layout = "~/Views/Shared/_NoMenuLayout.cshtml";
    var random = new Random();
}

<div class="login-logo"></div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="login-form">
        @*<div class="login-title" style="border-bottom:1px solid white; margin-bottom:1em;">
            @Html.ActionLink(RadiusRCustomerWebSite.Localization.Common.LoginWithPassword, "Login", "Auth", null, new { @class = "link-button" })
        </div>*@
        <div class="login-title">@RadiusRCustomerWebSite.Localization.Common.SiteTitle</div>
        @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @placeholder = Html.DisplayNameFor(model => model.CustomerCode), @autocomplete = "off" } })
        <div class="validation-container">
            @Html.ValidationMessageFor(model => model.CustomerCode)
        </div>
        @*<div class="captcha">
            <div class="captcha-image-wrapper">
                <img class="captcha-image" src="@Url.Action("LoginCaptcha","Captcha",new { id = random.Next(1000, int.MaxValue) })" />
                <input class="captcha-reload-button" type="button" />
            </div>
        </div>
        @Html.EditorFor(m => m.Captcha, new { htmlAttributes = new { @placeholder = RadiusRCustomerWebSite.Localization.Common.Captcha, @autocomplete = "off" } })
        <div class="validation-container">@Html.ValidationMessageFor(m => m.Captcha)</div>*@
        <input type="submit" value="@RadiusRCustomerWebSite.Localization.Common.Send" />
        <div class="copyright"> @ViewBag.Copyright | @Html.Raw(ViewBag.WebSite) </div>
    </div>
}
@section scripts{
    <script>
        $('#Captcha').val("");
    </script>
}