<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext" rel="stylesheet">
    <title>@ViewBag.Title - @RadiusRCustomerWebSite.Localization.Common.SiteTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("LayoutParts/_Header")
    <div class="page-content-wrapper">
        @Html.Partial("LayoutParts/_NavBar")
        <div class="page-body">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("LayoutParts/_Footer")
    @Html.Partial("LayoutParts/_Confirm")
    @Html.Partial("LayoutParts/_DisplayMessage")
    @Html.Partial("LayoutParts/_InformationMessage")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script>
        GetSupportStatus('@Url.Action("SupportStatus","Support")');
    </script>
</body>
</html>
