@model RadiusR_Customer_Website.Models.ViewModels.Customer.CustomerCallRequest
@using RezaB.Web.Helpers

@{
    ViewBag.Title = RadiusRCustomerWebSite.Localization.Common.CallMe;
    Layout = "~/Views/Shared/_NoMenuLayout.cshtml";
}
<div style="margin-top:5em;">
    @using (Html.BeginForm("CallRequest", "Customer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="customer-form centered">
            <div class="customer-title">@RadiusRCustomerWebSite.Localization.Common.CallMeTitle</div>
            @Html.EditorFor(m => m.CustomerName, new { htmlAttributes = new { @placeholder = Html.DisplayNameFor(m => m.CustomerName), @autocomplete = "off" } })
            <div>
                @Html.ValidationMessageFor(m => m.CustomerName)
            </div>
            @Html.EditorFor(m => m.PhoneNo, new { htmlAttributes = new { @placeholder = $"{Html.DisplayNameFor(m => m.PhoneNo)} (5312345678)", @autocomplete = "off" } })
            <div>
                @Html.ValidationMessageFor(m => m.PhoneNo)
            </div>
            @Html.TextAreaFor(m => m.Description, new { @maxlength = "250", @placeholder = $"{RadiusRCustomerWebSite.Localization.Common.Description} ({RadiusRCustomerWebSite.Localization.Common.Optional})" })
            <div>
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div class="captcha" style="margin-top:2em;">
                <div class="captcha-image-wrapper">
                    <img width="265" height="50" src="@Url.Action("Index","Captcha")" />
                </div>
            </div>
            @Html.EditorFor(m => m.Captcha, new { htmlAttributes = new { @placeholder = RadiusRCustomerWebSite.Localization.Common.Captcha, @autocomplete = "off" } })
            <div>@Html.ValidationMessageFor(m => m.Captcha)</div>
            <input type="submit" value="@RadiusRCustomerWebSite.Localization.Common.Send" />
            <div class="centered">
                <a class="link-button stencil-blue" href="https://netspeed.com.tr">@RadiusRCustomerWebSite.Localization.Common.BackToSite</a>
            </div>
        </div>
    }
</div>
