@model RadiusR_Customer_Website.Models.ViewModels.Customer.InfrastructureBBK
@using RezaB.Web.Helpers
@{
    ViewBag.Title = RadiusRCustomerWebSite.Localization.Common.AddressInfrastructureQuery;
    Layout = "~/Views/Shared/_NoMenuLayout.cshtml";
}
<div id="overlay"></div>
<div class="customer-form centered" style="margin-top:5em; border-radius:10px; max-width:50em;">
    <div class="customer-title" style="margin-bottom:2em;">
        <h2>@RadiusRCustomerWebSite.Localization.Common.AddressInfrastructureQuery</h2>
    </div>
    <div class="mt-1 availability-inputs">
        @Html.TextBoxFor(m => m.provinceId, null, new { @list = "provinceIdList", @placeholder = RadiusRCustomerWebSite.Localization.Common.ChooseProvince, @autocomplete = "off" })
        <datalist id="provinceIdList">
            @foreach (var item in Model.Province)
            {
                <option data-value="@item.Value" value="@item.Text"></option>
            }
        </datalist>
    </div>
    <div class="mt-1 availability-inputs">
        @Html.TextBoxFor(m => m.districtId, null, new { @list = "districtIdList", @placeholder = RadiusRCustomerWebSite.Localization.Common.ChooseDistrict, @autocomplete = "off" })
        <datalist id="districtIdList">
            @foreach (var item in Model.District)
            {
                <option data-value="@item.Value" value="@item.Text"></option>
            }
        </datalist>
    </div>
    <div class="mt-1 availability-inputs">
        @Html.TextBoxFor(m => m.regionId, null, new { @list = "regionIdList", @placeholder = RadiusRCustomerWebSite.Localization.Common.ChooseRegion, @autocomplete = "off" })
        <datalist id="regionIdList">
            @foreach (var item in Model.Region)
            {
                <option data-value="@item.Value" value="@item.Text"></option>
            }
        </datalist>
    </div>
    <div class="mt-1 availability-inputs">
        @Html.TextBoxFor(m => m.neighborhoodId, null, new { @list = "neighborhoodIdList", @placeholder = RadiusRCustomerWebSite.Localization.Common.ChooseNeighborhood, @autocomplete = "off" })
        <datalist id="neighborhoodIdList">
            @foreach (var item in Model.Neighborhood)
            {
                <option data-value="@item.Value" value="@item.Text"></option>
            }
        </datalist>
    </div>
    <div class="mt-1 availability-inputs">
        @Html.TextBoxFor(m => m.streetId, null, new { @list = "streetIdList", @placeholder = RadiusRCustomerWebSite.Localization.Common.ChooseStreet, @autocomplete = "off" })
        <datalist id="streetIdList">
            @foreach (var item in Model.Street)
            {
                <option data-value="@item.Value" value="@item.Text"></option>
            }
        </datalist>
    </div>
    <div class="mt-1 availability-inputs">
        @Html.TextBoxFor(m => m.buildingId, null, new { @list = "buildingIdList", @placeholder = RadiusRCustomerWebSite.Localization.Common.ChooseBuilding, @autocomplete = "off" })
        <datalist id="buildingIdList">
            @foreach (var item in Model.Building)
            {
                <option data-value="@item.Value" value="@item.Text"></option>
            }
        </datalist>
    </div>
    @Html.AntiForgeryToken()
    <div class="mt-1 availability-inputs">
        @Html.HiddenFor(m => m.BBK)
        @Html.TextBoxFor(m => m.apartmentId, null, new { @list = "apartmentIdList", @placeholder = RadiusRCustomerWebSite.Localization.Common.ChooseApartment, @autocomplete = "off" })
        <datalist id="apartmentIdList">
            @foreach (var item in Model.Apartment)
            {
                <option data-value="@item.Value" value="@item.Text"></option>
            }
        </datalist>
    </div>
    <div class="mt-1 availability-form-inputs">
        <div class="captcha" style="margin-top:2em;">
            <div class="captcha-image-wrapper" id="captcha_content">
                <img width="265" height="50" src="@Url.Action("AvailabilityCaptcha","Captcha",new { id = 1 })">
            </div>
        </div>
    </div>
    <div class="mt-1 availability-form-inputs">
        @Html.TextBoxFor(m => m.Captcha, new { @placeholder = RadiusRCustomerWebSite.Localization.Common.Captcha, @autocomplete = "off" })
    </div>
    <div class="mt-1 availability-form-inputs">
        <input class="red" type="button" onclick="CheckCaptcha();" value="@RadiusRCustomerWebSite.Localization.Common.Query" />
    </div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/Custom/get-infrastructure.js")
    <script>

        var GetNeighborhood = '@Url.Action("GetNeighborhoods", "Customer")';
        var CaptchaCheckUrl = '@Url.Action("CheckCaptcha","Customer")';
        var AvailabilityResultUrl = '@Url.Action("GetAvailabilityResult","Customer")';
        $('#provinceId').change(function () {
            GetValues('#provinceId', '#districtId', '@Url.Action("GetDistrict","Customer")');
        })
        $('#districtId').change(function () {
            GetValues('#districtId', '#regionId', '@Url.Action("GetRegions","Customer")');
        })
        $('#regionId').change(function () {
            GetValues('#regionId', '#neighborhoodId','@Url.Action("GetNeighborhoods", "Customer")');
        })
        $('#neighborhoodId').change(function () {
            GetValues('#neighborhoodId', '#streetId','@Url.Action("GetStreets", "Customer")');
        })
        $('#streetId').change(function () {
            GetValues('#streetId', '#buildingId','@Url.Action("GetBuildings", "Customer")');
        })
        $('#buildingId').change(function () {
            GetValues('#buildingId', '#apartmentId','@Url.Action("GetApartments", "Customer")');
        })
        $('#apartmentId').change(function () {
            $(this).removeClass("invalidInput");

            var selectVal = '';
            $('#apartmentIdList > option').each(function () {
                if ($('#apartmentId').val() == $(this).val()) {
                    selectVal = $(this).attr('data-value');
                }
            })
            $('#BBK').val(selectVal);
        })
    </script>
}