@model RadiusR_Customer_Website.Models.ViewModels.Supports.NewRequestVM
@using RezaB.Web.Helpers
@{
    ViewBag.Title = RadiusRCustomerWebSite.Localization.Common.NewRequest;
}

<div class="content-box light-red bold">
    @RadiusRCustomerWebSite.Localization.Common.NewRequest
</div>
<div class="content-box">
    @using (Html.BeginForm("NewRequest", "Support", FormMethod.Post,new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="centered bold">@Html.DisplayNameFor(m => m.RequestTypeId)</div>
        <div class="centered">
            @Html.DropDownListFor(m => m.RequestTypeId, (SelectList)ViewBag.RequestTypes, RadiusRCustomerWebSite.Localization.Common.NewSupportRequest)
        </div>
        <div class="centered">@Html.ValidationMessageFor(m => m.RequestTypeId)</div>
        <div id="SubRequestContent" class="centered" style="margin-top:1em;">
            @Html.DropDownListFor(m => m.SubRequestTypeId, (SelectList)ViewBag.SubRequestTypes, RadiusRCustomerWebSite.Localization.Common.SelectionSupportSubType)
        </div>
        <div class="centered">@Html.ValidationMessageFor(m => m.SubRequestTypeId)</div>
        <div class="centered bold" style="margin-top:1em;">@Html.DisplayNameFor(m => m.Description)</div>
        <div class="centered">
            @Html.TextAreaFor(m => m.Description, new { @placeholder = RadiusRCustomerWebSite.Localization.Common.DescribeSupportRequest, @class = "new-request-text", @maxlength = "250" })
            <div>@Html.ValidationMessageFor(m => m.Description)</div>
        </div>
        <div class="centered">
            <span id="support-attachment-id">
                <img style="vertical-align:middle; cursor:pointer;" src="@Url.Content("~/Content/Images/Icons/attachment.svg")" />
            </span>
            <input type="button" onclick="ShowConfirm($('form'));" class="link-button red" value="@RadiusRCustomerWebSite.Localization.Common.SendSupportRequest" />
        </div>
        <div class="centered">
            <input class="upload-attachments" name="attachments" type="file" style="visibility:hidden;" multiple />
            <ul class="upload-attachment-list mt-1 list-unstyled"></ul>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/Scripts/Custom/support-attachment.js")
    <script>

        $('#RequestTypeId').change(function () {
            //$('#SubRequestContent').html("");
            if ($(this).val()) {
                $.ajax({
                    url: '@Url.Action("GetSubRequestTypes", "Support")',
                    method: 'POST',
                    data: { RequestTypeId: $(this).val() },
                    complete: function (data, status) {
                        try {
                            if (status == "success") {
                                var result = data.responseJSON;
                                var options = "";
                                for (var i = 0; i < result.length; i++) {
                                    options += "<option value='" + result[i].Value + "'>" + result[i].Text + "</option>";
                                }
                                $('#SubRequestTypeId').html(options);
                            }
                        } catch (e) {
                            console.log(e);
                        }
                    }
                })
            } else {
                $('#SubRequestTypeId').children('option[value!=""]').remove();
            }
        })
    </script>
}