@model RadiusR_Customer_Website.Models.ViewModels.Supports.SupportMessagesVM

@{
    ViewBag.Title = RadiusRCustomerWebSite.Localization.Common.SupportDetails;
}

<div class="content-box title shallow-blue">
    <h4>@RadiusRCustomerWebSite.Localization.Common.SupportAndRequests</h4>
</div>
<div class="content-box">
    <div class="shared-space-2">
        <div class="">
            <div class="usage-info-item standard-blue">
                <div>
                    @Html.DisplayFor(m => m.SupportRequestName)
                </div>
                <div class="title">
                    @Html.DisplayFor(m => m.SupportRequestSummary)
                </div>
            </div>
        </div>
        <table class="data-table">
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.SupportNo)</td>
                    <td class="centered">@Html.DisplayFor(m => m.SupportNo)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.SupportDate)</td>
                    <td class="centered">@Html.DisplayFor(m => m.SupportDate)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.State)</td>
                    <td>
                        <div class="centered">
                            @Html.DisplayFor(m => m.State)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="centered">
                        @Html.ActionLink(RadiusRCustomerWebSite.Localization.Common.AllSupportRequests, "SupportRequests", "Support")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="content-box">
    <table class="data-table">
        <tbody>
            @if (Model.SupportDisplayType == RadiusR_Customer_Website.Models.ViewModels.Supports.SupportRequestDisplayTypes.OpenRequestAgainDisplay)
            {
                <tr class="seperate">
                    <td>
                        @using (Html.BeginForm("NewSupportMessage", "Support", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.ID)
                            <table class="data-table" style="table-layout:fixed;">
                                <tbody>
                                    <tr>
                                        <td class="borderless" colspan="2">
                                            <div class="centered" style="margin-top:1em;">
                                                @Html.TextAreaFor(m => m.Message, new { @placeholder = RadiusRCustomerWebSite.Localization.Common.SupportRequestMessage, @class = "new-request-text", @maxlength = "250" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="borderless">
                                            <div class="centered">
                                                <input onclick="FormSubmit(submitType.SOLVED);" type="button" class="link-button jungle" style="font-size:small;" value="@RadiusRCustomerWebSite.Localization.Common.ProblemSolved" />
                                            </div>
                                        </td>
                                        <td class="borderless">
                                            <div class="centered">
                                                <input onclick="FormSubmit(submitType.OPEN);" type="button" value="@RadiusRCustomerWebSite.Localization.Common.OpenRequestAgain" style="font-size:small;" class="link-button red" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </td>
                </tr>
            }
            @if (Model.SupportDisplayType == RadiusR_Customer_Website.Models.ViewModels.Supports.SupportRequestDisplayTypes.AddNoteDisplay)
            {
                <tr class="seperate">
                    <td>
                        @using (Html.BeginForm("NewSupportMessage", "Support", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.ID)
                            <table class="data-table" style="table-layout:fixed;">
                                <tbody>
                                    <tr>
                                        <td class="borderless" colspan="2">
                                            <div class="centered" style="margin-top:1em;">
                                                @Html.TextAreaFor(m => m.Message, new { @placeholder = RadiusRCustomerWebSite.Localization.Common.SupportRequestMessage, @class = "new-request-text", @maxlength = "250" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="borderless">
                                            <div class="centered">
                                                <input onclick="FormSubmit(submitType.SOLVED);" type="button" class="link-button jungle" style="font-size:small;" value="@RadiusRCustomerWebSite.Localization.Common.ProblemSolved" />
                                            </div>
                                        </td>
                                        <td class="borderless">
                                            <div class="centered">
                                                <input onclick="FormSubmit(submitType.ADD);" type="button" value="@RadiusRCustomerWebSite.Localization.Common.AddNote" class="link-button stencil-blue" style="font-size:small;" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </td>
                </tr>
            }
            @foreach (var item in Model.SupportMessageList)
            {
                <tr class="support-message-seperate">
                    <td>
                        @if (item.IsCustomer)
                        {
                            <div class="user-management-icon centered support-right-item">
                                <span class="bold">@Html.DisplayFor(m => item.SenderName)</span>
                                <small>@Html.DisplayFor(m => item.MessageDate)</small>
                            </div>
                            <div style="overflow-wrap:anywhere;" class="content-box light-red multiline-text">@Html.DisplayFor(m => item.Message)</div>
                        }
                        else
                        {
                            <div class="agent-support-icon centered support-right-item">
                                <span class="bold">@Html.DisplayFor(m => item.SenderName)</span>
                                <small>@Html.DisplayFor(m => item.MessageDate)</small>
                            </div>
                            <div class="content-box shallow-blue multiline-text">@Html.DisplayFor(m => item.Message)</div>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        const submitType = {
            SOLVED: 'solved',
            ADD: 'add',
            OPEN: 'open'
        }
        function FormSubmit(_type) {
            if (_type == submitType.ADD) {
                $('#IsSolved').remove();
                $('#ForOpenRequest').remove();
                $('form').append('<input id="ForAddNote" name="ForAddNote" type="hidden" value="True">');
                $('form').submit();
            }
            if (_type == submitType.SOLVED) {
                $('#ForOpenRequest').remove();
                $('#ForAddNote').remove();
                $('form').append('<input id="IsSolved" name="IsSolved" type="hidden" value="True">');
                ShowConfirm($('form'));
            }
            if (_type == submitType.OPEN) {
                $('#IsSolved').remove();
                $('#ForAddNote').remove();
                $('form').append('<input id="ForOpenRequest" name="ForOpenRequest" type="hidden" value="True">');
                ShowConfirm($('form'));
            }
        }
    </script>
}